<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/main.mjs" type="module"></script>
    <title>kf stats</title>
</head>
<header>
    <h2>kf stats</h2>
</header>

<body>
    <div class="content">
        <div style="display: flex; flex-direction: column;">
            <form class="form">
                <input type="text" class="steamid">
                <button type="submit">look it up</button>
            </form>
            <h3>examples</h3>
            <table>
                <tr>
                    <th>vanity</th>
                    <th>64bit steamid</th>
                </tr>
                <tr>
                    <td>https://steamcommunity.com/id/gabelogannewell</td>
                    <td>https://steamcommunity.com/profiles/76561197960287930</td>
                </tr>
                <tr>
                    <td>gabelogannewell</td>
                    <td>76561197960287930</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>