<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/main.mjs" type="module"></script>
    <title>kf stats</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div>
            <form class="form">
                <input type="text" class="steamid">
                <button>look it up</button>
            </form>
            <table>
                <th colspan="2">usage examples</th>
                <tr>
                    <th>vanity</th>
                    <th>64bit steamid</th>
                </tr>
                <tr>
                    <td>https://steamcommunity.com/id/gabelogannewell</td>
                    <td>https://steamcommunity.com/profiles/76561197960287930</td>
                </tr>
                <tr>
                    <td>gabelogannewell</td>
                    <td>76561197960287930</td>
                </tr>
            </table>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>