<style>
    footer>div {
        font-size: 13px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        background-color: #000000a8;
    }

    footer {
        background-image: url(/static/images/kf.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px 30%;
        border-top: solid #000 2px;
    }

    footer>div>p {
        color: #fff;
        margin-block: 5px;
    }
</style>

<footer>
    <div>
        <p> kf stats is a fan made project</p>
        <p>
            Killing Floor ©2009-2015 by Tripwire Interactive. Killing Floor® is a registered trademark of Tripwire
            Interactive in the USA and other countries. All rights reserved.
        </p>
    </div>
</footer>